[submodule "webinterface/lib/js/dygraphs"]
	path = webinterface/lib/js/dygraphs
	url = https://github.com/danvk/dygraphs.git
[submodule "webinterface/lib/Metro-UI-CSS"]
	path = webinterface/lib/Metro-UI-CSS
	url = https://github.com/olton/Metro-UI-CSS
