{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" href="http://codemirror.net/theme/neat.css">
    <script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="http://codemirror.net/mode/lua/lua.js"></script>
{% endblock %}
{% block body %}

    <div class="app-bar" data-role="appbar">
        <a class="app-bar-element" href="/">Home</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
    {% for cmd in commands %}
            <li><a href="">{{ cmd }}</a></li>
    {% endfor %}

        </ul>
    </div>
        
        <div class="page">
            <div class="page-header">
                <div class="page-header-content">
                <h1>{{ config.name }}</h1>
                </div>
            </div>

        <div data-role="content">

<h2>Lua Script</h2>
<form>
<textarea id="code" name="code" style="display:none;">{% if editorfile %}{% for editorline in editorfile %}
{{ editorline }}
{% endfor %}{% endif %}
</textarea>
    </form>
    <p>Loosely based on Franciszek</p>

    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        matchBrackets: true,
        theme: "neat"
      });
    </script>

    <p>Loosely based on Franciszek</p>
    </div>


</div>
{% endblock %}
