{% extends "base.html" %}
{% block body %}

       <div class="app-bar" data-role="appbar">
          <a class="app-bar-element" href="/">Home</a> 
          <span class="app-bar-divider"></span> 
        </div>
    
        <div class="page">
            <div class="page-header">
                <div class="page-header-content">
                <h1>{{ config.name }}</h1>
                </div>
            </div>

<div data-role="content">

<form method="post" action="change">
  {% if not projects %}
      <p>Currently there are no projects set up on this machine.</p>
  {% else %}
       <h4>Projects on this Machine</h4>
        <div class="tile-container bg-darkCobalt">


        {% for item in projects %}

{# Loop through a pre-selection of tile colours #}
{% set fgcolor = "fg-white" %}
{% if loop.index % 5 == 1 %}{% set bgcolor = "bg-lighterBlue" %}{% endif %}
{% if loop.index % 5 == 2 %}{% set bgcolor = "bg-cobalt" %}{% endif %}
{% if loop.index % 5 == 3 %}{% set bgcolor = "bg-purple" %}{% set fgcolor = "fg-grey" %}{% endif %}
{% if loop.index % 5 == 4 %}{% set bgcolor = "bg-orange" %}{% endif %}
{% if loop.index % 5 == 0 %}{% set bgcolor = "bg-pink" %}{% endif %}
        
			<!-- Tile with slide-down effect -->
			<a id="qq" href="/iot/{{ item }}" class="tile {{ bgcolor }} {{fgcolor}}" class="tile-wide data-role="tile"">
			
			<div class="tile-content slide-down">
				<div class="slide-over op-cyan fg-white text-small padding10">
					Clixx.io IoT Project
				</div>
				<div class="tile-label">{{ item }}</div>
			</div>
			</a>
          
        {% endfor %}
        </div>

  {% endif %}
  <br />
{% if config.enable_addproject %}  
  <a href="new_project" data-role="button" data-mini="true">Create a Project</a>
{% endif %}
  
</form>

{% if value %}
<p>Message sent: {{ value }}</p>
{% endif %}

</div>
{% endblock %}


