{% extends "base.html" %}
{% block body %}

    <div class="app-bar" data-role="appbar">
        <a class="app-bar-element" href="/">Home</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
    {% for cmd in commands %}
            <li><a href="">{{ cmd }}</a></li>
    {% endfor %}

        </ul>
    </div>
        
        <div class="page">
            <div class="page-header">
                <div class="page-header-content">
                <h1>{{ config.name }}</h1>
                </div>
            </div>

<div data-role="content">

{% if config.csv_data %}
  <div class="example" data-text="Graph">
				<div id="graphdiv2"
				  style="width:500px; height:300px;"></div>
				<script type="text/javascript">
				  g2 = new Dygraph(
					document.getElementById("graphdiv2"),
					"/csvdata/{{config.name}}", // path to CSV file
					{}          // options
				  );
				</script>
				</br>
					
			</div>        
{% endif %}

{% if config.log_data %}
    <table class="table striped hovered cell-hovered border bordered">
      <thead>
        <tr>
            <th class="sortable-column">Log File {{config.name}}.log</th>
        </tr>
      </thead>  
  {% for li in logfile %}
    <tr><td><small>{{ li }}</small></td></tr>
  {% endfor %}
    </table>
{% endif %}

{% if config.ini_data %}
            <div class="example" data-text="Configuration File">
                <h5>{{config.name}}.ini</h5>
<pre class="prettyprint linenums"><code>{% for l in cfgfile %}
{{ l }}{% endfor %}</code></pre>
            </div>
{% endif %}
            

  
{% if config.enable_onoff %}
<p>Message sent: {{ value }}</p>

    <label for="flip-checkbox-1">Flip toggle switch checkbox:</label>
    <input data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1" type="checkbox">
{% endif %}

  
</form>

{% if value %}
<p>Message sent: {{ value }}</p>
{% endif %}

{% if config.enable_table %}
{% endif %}
       
{% if value %}
<p>Message sent: {{ value }}</p>
{% endif %}

</div>
{% endblock %}


