.tgl-header {
  height: 120px;
  margin: 0;
  background-image: url("clixx_banner_background.png");
  border: none;
}

.tgl-post-date-widget {
  float: left;
  width: 46px;
  height: 46px;
  padding: 0;
  margin: 0 0 0 0;
  text-align: center;
  background-color: transparent;
  background-image: url("http://clixx.io/assets/img/date_widget.png");
  background-position: left top;
  background-repeat: no-repeat;
}

.tgl-post-date-widget .month,
.tgl-post-date-widget .day {
  padding: 0;
  margin: 0;
}

.tgl-post-date-widget .month {
  font-size: 12px;
  color: white;
}

.tgl-post-date-widget .day {
  color: black;
}

.header-inner {
  padding: 0;
  background-color: transparent;
  background-image: url("http://clixx.io/assets/img/clixx_banner_logo.png");
  background-position: 50px 0px;
  background-repeat: no-repeat;
  border: none;
  -moz-border-radius: 0;
       border-radius: 0;
  -moz-box-shadow: none;
       box-shadow: none;
}

.tgl-search-box {
  width: 240px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.footer {
background-color: #000000;
padding: 8px;
color: white;
}

.footer IMG {
  margin-right: 8px;
}

.footer A {
  color: #c0c0c0;
}

.footer A:visited {
  color: #c0c0c0;
}

.footer A:hover {
  color: white;
}

.footer-copyright {
font-size: 12px;
line-height: 15px;
}


.footer-feed {
  float: right;
  font-size: 24px;
  line-height: 30px;
  color: orange;
}

.label-tgl-tag {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  font-size: 15.228px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;

  display: inline-block;
  padding: 4px;
  margin: 0 0.5em 0.5em 0;
  background-color: #0289ee;
  text-decoration: none;
}

.label-tgl-tag[href],
.label-tgl-tag[href]:visited {
  color: #ffffff;
}

.label-tgl-tag[href]:hover {
  color: #000000;
}

.tgl-post-byline {
  margin-top: 4px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.tgl-post-author {
  font-style: italic;
}

.tgl-post-byline .tgl-post-author A,
.tgl-post-byline .tgl-post-author A:hover,
.tgl-post-byline .tgl-post-author A:visited {
  font-weight: bold;
}

.tgl-image {
  display: inline-block;
  text-align: center;
}

.tgl-image P {
  padding: 0;
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  word-wrap: break-word;
}

.tgl-image-border {
  padding: 4px;
  margin: 2px;
  border: 1px solid #000000;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.tgl-image-left {
  float: left;
  margin-right: 6px;
}

.tgl-image-right {
  float: right;
  margin-left: 6px;
}

.tgl-post-footer {
  width: 100%;
  padding: 4px;
  margin: 4px 0 4px 0;
  clear: both;
  text-align: right;
}


table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  text-shadow: none;
  vertical-align: top;
  border: 1px solid #000080;
}

.table th {
  font-weight: bold;
}

.table thead th {
  background-color: #0289ee;
  vertical-align: bottom;
}

