body {
            background: #222;
            text-align: center;
        }
        .clock {
            font-family: Raleway;
            font-weight: bold;
            font-size: 28px;
            text-align: center;
            color: #f9f9f9;
            position: absolute;
            top: 242px;
            left: 180px;
            width: 162px;
        }
        .rings {
            position: relative;
            width: 500px;
            margin: 100px auto;
        }
        .rings .h {
            position: absolute;
            left: 10px;
            top: 10px
        }
        .rings .m {
            position: absolute;
            left: 85px;
            top: 85px
        }
        .rings .s {
            position: absolute;
            left: 163px;
            top: 163px
        }
        .demo {
            background: #222;
            height: 700px;
            width: 100%
        }
        input {
            display: none;
        }