## 																	
## This file is a template for makefile building for clixx.io		
##																	
##																	
## It's based extensively on the work of:
##
## Copyright (C) 2008 Uwe Hermann <uwe@hermann-uwe.de>
${'##																			'}
${'## This program is free software; you can redistribute it and/or modify		'}
${'## it under the terms of the GNU General Public License as published by		'}
${'## the Free Software Foundation; either version 2 of the License, or			'}
${'## (at your option) any later version.										'}
${'##																			'}
${'## This program is distributed in the hope that it will be useful,			'}
${'## but WITHOUT ANY WARRANTY; without even the implied warranty of			'}
${'## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the				'}
${'## GNU General Public License for more details.								'}
${'##																			'}
${'## You should have received a copy of the GNU General Public License			'}
${'## along with this program; if not, write to the Free Software				'}
${'## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA	'}
${'## 																			'}

PROGRAM = ${program_base}
MCU = ${deployment_platform}
CC = g++
CFLAGS += -Wall -g -Os
LDFLAGS += -lstdc++ -L ../libraries -static -l clixxIO_Linux
OBJS = $(PROGRAM).o

# Be silent per default, but 'make V=1' will show all compiler calls.
ifneq ($(V),1)
Q := @
endif

all: $(PROGRAM)
	@printf "CC      $(subst $(shell pwd)/,,$(@))\n"
	$(Q)ld -o $@ -c $< $(LDFLAGS) 

${'%.o: %.cpp'}
	@printf "  CC      $(subst $(shell pwd)/,,$(@))\n"
	$(Q)$(CC) $(CFLAGS) -o $@ -c $< 

clean:
	@printf "  CLEAN   $(subst $(shell pwd)/,,$(OBJS))\n"
	$(Q)rm -f $(OBJS)
	@printf "  CLEAN   $(PROGRAM).elf\n"
	$(Q)rm -f *.elf
	@printf "  CLEAN   $(PROGRAM).hex\n"
	$(Q)rm -f *.hex
