{% extends "base.html" %}
{% block body %}
<div data-role="header">
  <h1>{{ config.name }}</h1>
</div>

<div data-role="content">

<form method="post" action="change">
  <label for="slider-1">Projects/Devices on this machine:</label>
  {% if not projects %}
      <p>Currently there are no projects set up on this machine.</p>
  {% else %}
	  {% for item in projects %}
			<li><a href="/iot/{{ item }}">{{ item }}</a></li>
	  {% endfor %}
  {% endif %}
  <br />
  <a href="new_project" data-role="button" data-mini="true">Create a Project</a>
  
</form>

{% if value %}
<p>Message sent: {{ value }}</p>
{% endif %}

</div>
{% endblock %}


